# Compiled Python Bytecode
*.py[cod]
.pytest_cache

# Packages
*.egg
*.egg-info
dist
build
ghostdriver.log
bin
var
lib64
__pycache__

# Python3 pyvenv
venv
pyvenv.cfg
.Python
include

# Installer logs
pip-log.txt
.swp

# Unit test / coverage reports
.coverage

# py.test
.cache/*
.pytest_cache/*
.pytest_config

# Developer
.vscode

# Web Drivers
chromedriver
geckodriver
msedgedriver
operadriver
MicrosoftWebDriver.exe
IEDriverServer.exe
chromedriver.exe
geckodriver.exe
msedgedriver.exe
operadriver.exe

# Logs
logs
latest_logs
log_archives
archived_logs
geckodriver.log

# Reports
latest_report
report_archives
archived_reports
html_report.html
report.html
report.xml

# Other
assets
temp
temp*